name: "wMBus MQTT Bridge"
version: "3.0.7"
slug: "wmbus_mqtt_bridge"
description: "Bridge for wMBus to MQTT"
arch:
  - amd64
  - armhf
  - armv7
  - aarch64
init: false
hassio_api: true
hassio_role: default
homeassistant_api: true
auth_api: true
services:
  - mqtt:need
