name: "wMBus MQTT Bridge"
description: "Bridge for wMBus to MQTT"
version: "3.0.9"
slug: "wmbus_mqtt_bridge"
arch:
  - amd64
  - armhf
  - armv7
  - aarch64
init: false
hassio_api: true
hassio_role: default
homeassistant_api: true
auth_api: true
services:
  - mqtt:need
options:
  mqtt_host: "core-mosquitto"
  mqtt_port: 1883
  mqtt_topic: "wmbus_bridge/debug"
schema:
  mqtt_host: str
  mqtt_port: int
  mqtt_topic: str
image: "ghcr.io/home-assistant/{arch}-addon-base-python"
