name: "wMBus MQTT Bridge"
version: "2.1"
slug: wmbus_mqtt_bridge
description: "Bridge for wMBus to MQTT"
arch:
  - amd64
  - armhf
  - armv7
  - aarch64
  - i386
hassio_api: true
hassio_role: default
services:
  - mqtt:need
options:
  mqtt_topic: "wmbus/raw"
schema:
  mqtt_topic: str
