name: "wMBus MQTT Bridge"
description: "MQTT RAW -> wmbusmeters stdin:hex"
version: "1.1.0"
slug: "wmbus_mqtt_bridge"
image: "ghcr.io/kustonium/{arch}-addon-wmbus_mqtt_bridge"

arch:
  - amd64

init: false

services:
  - mqtt:need

options:
  raw_topic: "wmbus_bridge/sensor/wm-bus_raw_data/#"
  meters:
    - id: cold_water
      meter_id: "55701281"
      type: hydrodigit
      mode: T1
    - id: hot_water
      meter_id: "55701849"
      type: hydrodigit
      mode: T1

schema:
  raw_topic: str
  meters:
    - id: str
      meter_id: str
      type: str
      mode: str
