name: "WMBus MQTT Bridge"
description: "Bridge for WMBus T1 frames via MQTT"
version: "1.0.7"
slug: wmbus_mqtt_bridge
init: false
arch:
  - amd64
  - armv7
  - aarch64
startup: application
boot: auto
options:
  mqtt_topic: "wmbus/raw"
schema:
  mqtt_topic: str
