name: "wMBus MQTT Bridge"
version: "1.0.1"
slug: "wmbus_mqtt_bridge"
description: "Feeds RAW wMBus T1 HEX frames from ESP32 (MQTT) into wmbusmeters via stdin"
arch:
  - amd64
  - aarch64
startup: services
boot: auto
options:
  mqtt_topic: "wmbus/raw"
schema:
  mqtt_topic: str
