name: "wMBus MQTT Bridge"
description: "MQTT RAW HEX -> wmbusmeters (stdin:hex) -> MQTT + Home Assistant Discovery"
version: "1.2.6"
slug: "wmbus_mqtt_bridge"
image: "ghcr.io/kustonium/{arch}-addon-wmbus_mqtt_bridge"

arch:
  - amd64

init: false

services:
  - mqtt:need

options:
  raw_topic: "wmbus_bridge/telegram"
  loglevel: "normal"
  filter_hex_only: true
  debug_every_n: 0

  discovery_enabled: true
  discovery_prefix: "homeassistant"
  discovery_retain: true

  state_prefix: "wmbusmeters"
  state_retain: false

  # If empty => LISTEN MODE
  meters: []

schema:
  raw_topic: str
  loglevel: list(normal|verbose|debug)
  filter_hex_only: bool
  debug_every_n: int
  discovery_enabled: bool
  discovery_prefix: str
  discovery_retain: bool
  state_prefix: str
  state_retain: bool
  meters:
    - id: str
      meter_id: str
      type: list(auto|abbb23|amiplus|apator162|apatoreitn|dme_07|fhkvdataiii|flowiq2200|hcae2|hydrocalm3|hydrocalm4|hydrodigit|hydrus|iperl|itron|itronheat|iwmtx5|izar|kamheat|lse_07_17|mkradio3|mkradio3a|mkradio4|multical21|pollucomf|qcaloric|qheat|qwater|rfmamb|sensostar|sharky774|topaseskr|tsd2|unismart|vario451|waterstarm|other)
      type_other: str?
      key: str?
