name: "wMBus MQTT Bridge"
description: "Bridge for wMBus to MQTT"
version: "3.0.1"
slug: "wmbus_mqtt_bridge"
init: false
arch:
  - amd64
  - aarch64
  - armv7
  - armhf
  - i386
homeassistant_api: true
services:
  - mqtt:need
options:
  mqtt_topic: "wmbus/raw"
schema:
  mqtt_topic: str
