services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    restart: unless-stopped

  wmbus:
    build:
      context: ../..
      dockerfile: Dockerfile
      target: docker
    container_name: wmbus
    depends_on:
      - mosquitto
    volumes:
      - ./config:/config
    restart: unless-stopped
